body {
    color: white;
    background-color: #004587;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

p {
    font-size: 3rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    animation: float 3s ease-in-out infinite;
    margin: 0;
}

.back {
    height: 100dvh;
    background: linear-gradient(90deg, #004587, #f9741e, #004587);
    width: 50%;
    position: absolute;
    animation: body 4s ease infinite;
    z-index: -2;
}


@keyframes body {
    0% {
        right: -50%;

    }

    100% {
        right: 110%;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 480px) {
    @keyframes body {
        0% {
            top: -50%;

        }

        100% {
            top: 110%;
        }
    }

    p {
        font-size: 2rem;
        margin: 30px;
    }

    .back {
        height: 50%;
        width: 100dvw;
        animation: body 5s ease infinite;
        background: linear-gradient(0deg, #004587, #f9741e, #004587);
    }
}